#dynamicColor {
    font-family: sans-serif;
    color: black;
    /* setting the size to 0 so to avoid too much space between the spans */
    font-size: 0px;
}

#dynamicColor span {
    font-size: 44px;
}

.header {
    font-size: 44px;
    font-family: sans-serif;
}


